#title {
    background-color: #ff4c68;
}
body {
    font-family:"Montserrat" ;
}
.container-fluid {
    padding: 3% 15% 7%;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: white; 
}
h2 {
    display: inline;
    font-family: "Monserrat-bold";
    font-size: 1.5rem;
    margin-left:7px ;
    
}
.h3-cta {
    color: white;
    font-size: 66px;
}

.features-ph {
    color: #8f8f8f;
    font-size: 0.8rem;
     
}

/*Navigation Bar*/
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: "Ubuntu";
    font-weight: bold;
    margin-left: 28px;
}
.nav-link {
    margin-right: 30px;
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/*Download buttons*/
.download-button {
    margin: 5% 3% 5% 0;
    
}
/*title image*/
.iphone-image { 
    width: 60%;
    transform: rotate(25deg); 
    position: absolute;
    right: 22%;
    top: -14%;
    
}
@media (max-width:1028px) {
    .iphone-image {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}

/* features section*/
#features {
    padding: 7% 15%;
    display: contents;
    font-family: 'Montserrat';
}

.sub-title1 {
    margin-left: 6px;
}

.row {
    display: flex;
    margin-top: 100px;
    margin-left: 15px;
}
.col-lg-3 {
    margin: 20px auto;
}
.feature-box {
    text-align: center;
    padding: 4.5%;
    position: relative;
    z-index: 1;
    background-color: white;
}
i {
    color: #ef8172;

}
    
i:hover {
    background-color: #ff4c68;
}

/* Testimonial section*/

#testimonials {
    background-color: #ef8172;
    color: #fff;
    text-align: center;

} 
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;

}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}
.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}

/* pricing section*/

#pricing {
   padding: 100px;

}
.pricing-column {
    padding: 3% 2%;
}

/* Footer section*/
#cta {
    text-align: center;
    background-color: #ff4c68;
    font-family: "Montserrat-Black";
    padding: 7% 15%;
    

}

#footer {
    text-align: center;
    font-size: 12px;
    background-color: #fff;
    color: grey;
    padding: 7% 15%;
}

.social-icon {
    margin:  20px 10px;

}